<!DOCTYPE html>
<html>
	<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>Help Redirect</title>
			<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
			<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
			<!-- Google Icons-->
			<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
			<!--<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">-->
			<link rel="stylesheet" href="{{ url_for('static', filename='helpredirect.css') }}">
			<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<!--<a class="navbar-brand" href="/"><img width="60px" src="{{ url_for('static', filename='img/logo.png') }}"> HelpRedirect</a>-->
			<a class="nav-item text-light" title="Home" href="/"><i class="material-icons">home</i></a>
			<div class="dropdown">
				<a class="nav-link text-light" data-toggle="dropdown" title="Menu" href=""><i class="material-icons" style="font-size:25px">menu</i></a>
				<div class="dropdown-menu bg-dark">	
					<a class="dropdown-item text-light bg-dark" href="/build_rules">Build Rules</a>
					<a class="dropdown-item text-light bg-dark" href="/check_url_status">Check Status</a>
					<!--<a class="dropdown-item text-light bg-dark" title="Help" href="#"><i class="material-icons">help_outline</i></a>-->
				</div>
			</div>
		</nav>
		<div class="container-fluid m-1">
			<div class="container">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<ul id="messages" class="list-unstyled text-center">
							{% for message in messages %}
								{% if '[ Falha ]' in message %}
									<li class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
														<span aria-hidden="true">&times;</span>
										</button>
									</li>
								{% else %}
									<li class="alert alert-success alert-dismissible fade show" role="alert">{{ message }}
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
				{% endwith %}
			</div>
			<div class="page-header text-center">
					<h1 class="title m-1">{{ titulo }}</h1>
			</div>
			{% block conteudo %}{% endblock %}
		</div>
		<div class="card-footer text-center mt-5">
			<ul class="text-muted list-unstyled">
				<li>&copy; Copyright 2020</li>
			</ul>
		</div>
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<!--<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>-->
		<script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/helpredirect.js') }}"></script>
	</body>
</html>